
@font-face {
  font-family: "ourfont";
  src: url("../fonts/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2") format("woff2")
}

@font-face {
  font-family: "ourfont1";
  src: url("../fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("woff2")
}

body {
    background-color: #ffffff;
  }
.detailssection p
{
	margin: 0px;
	font-family: "ourfont";
	color: #212529;
}
.card-title 
{
	font-family: "ourfont1";
	font-weight: 800;
	font-size: 16px;
	color: #212529;
}
.footerlinks a
{
	color: #000000;
    border: 1px solid #c6c6c6;
    padding: 12px;
    padding-bottom: 16px;
    box-shadow: 1px 1px 1px #555;
    border-radius: 7px;
}
.footerlinks a svg
{
	    width: 22px;
}
.footerlinks1 a svg
{
	    width: 30px;
}
.google_map
{
	    width: 50px;
}

.card
{
	box-shadow: 0 2px 7px 0 rgb(123 118 118 / 48%) !important;
	color: #212529;
}

.ourbutton
{
	font-family: "ourfont";
	width: 100%;
	background: #f8f9fa;
	border-radius: 49px;
	margin: 30px 0;
	text-align: left;
	padding: 20px 47px;
	font-size: 1rem;
	box-shadow: 0 2px 7px 0 rgb(123 118 118 / 48%);
	border: 1px solid rgba(0,0,0,.125);
	color: #212529;
}


@media only screen and (max-width: 600px) {
 
	.iconsection
{
	    margin-bottom: 30px;
}
}